<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio Website</title>
	<link rel="icon" href="{{ url_for('static', filename='jghjghfd.PNG') }}"></link>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='canas.css') }}">
</head>

<body>
	<body class="center-screen">
		<script src="{{ url_for('static', filename='p5.min.js') }}"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
		<script src="{{ url_for('static', filename='particle.js') }}"></script>
		<script src="{{ url_for('static', filename='quadtree.js') }}"></script>
		<script src="{{ url_for('static', filename='rectangle.js') }}"></script>
		<script src="{{ url_for('static', filename='util.js') }}"></script>
	</body>
	<div class="title-text">

	</div>
	<div class="title-container">

	</div>
</body>

</html>