<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio Website</title>
	<link rel="icon" href="src/jghjghfd.PNG"></link>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='canvas.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}">
</head>

<body>
	<body class="center-screen">
		<script src="{{ url_for('static', filename='libraries/p5.min.js') }}"></script>
		<script src="{{ url_for('static', filename='src/main.js') }}"></script>
		<script src="{{ url_for('static', filename='src/particle.js') }}"></script>
		<script src="{{ url_for('static', filename='src/quadtree.js') }}"></script>
		<script src="{{ url_for('static', filename='src/rectangle.js') }}"></script>
		<script src="{{ url_for('static', filename='src/util.js') }}"></script>
	</body>
	<div class="title-text">

	</div>
	<div class="title-container">

	</div>
</body>

</html>